<p [ngClass]="style">comp-attributes works!</p>
<button (click)="changeStyle()">Change style</button>
<h1 [ngStyle]="{'background': backgroundColor, 'color': textColor}">ANGULAR COURSE</h1>
<ng-content select="h2"></ng-content>
<h1>Shopping list</h1>
<p>Add item</p>
<input type="text" [(ngModel)]="item">
<p>{{ item }}</p>
<button (click)="addItem()">Add</button>
<ul>
    <li *ngFor="let element of itemList">{{ element }}</li>
</ul>
<hr>
<ng-template [ngIf]="itemList.length === 1">
    <a href="#">BUY</a>
</ng-template>
<ng-template [ngIf]="itemList.length > 1">
    <a href="#">BUY ALL ITEMS</a>
</ng-template>
<ng-content select="p"></ng-content>